.container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  height: 7em;
  width: 100%;
  background-color: #191919;
}

.page {
  margin-right: 2em;
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 1.5em;
  list-style-type: none;
  text-align: center;
  justify-content: end;
  font-weight: 600;
  font-size: 2.5em;
  font-family: 'Invisible', sans-serif;
}

.page li {
  display: flex;
  align-items: center;
}

.text {
  text-decoration: none;
  text-transform: uppercase;
}

.active{
  color: #dd4747;
}

.inactive{
  color: #FFE81F;
}
