.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 350px;
  height: 525px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;

  transition: 500ms;
}

.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.card--left {
  transform: translateX(-125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

.card--right {
  transform: translateX(125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}